@using TestBlazorhart.Data


@inject ResultService ResultService

<h3>External links</h3>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            @if (loading == false)
            {
                @if (strings.Count != 0)
                {
                    <table>
                        @if (noOfRows != 0)
                        {
                            @for (int i = 0; i < noOfRows; i++)
                            {
                                <tr>
                                    @for (int j = 0; j < 4; j++)
                                    {
                                        @if (@strings[i * 4 + j] != null)
                                        {
                                            <td><a href="@strings[i * 4 + j]">@strings[i * 4 + j]</a></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                </tr>
                            }
                            <tr>
                                <td colspan="4" class="centerTd">
                                    <b>@oneContTwo</b>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4" class="centerTd">
                                    <b>@twoContOne</b>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12 ">
                            <span>@message</span>
                        </div>
                    </div>
                   
                }

            }
            else
            {
                <div class="row">
                    <div class="col-md-12 spinDiv">
                        <div class="spinner-border"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label>Select date: </label>
            <EditForm Model="@_Date">
                <InputDate @bind-Value="_Date.dateTime" class="form-control" />
            </EditForm>
        </div>
        <div class="col-md-6">
            <label>Choose second link for cross reference</label>
            <select @bind="secondLinkId">
                <option value="-1" selected>None</option>
                @if (results.Count != 0)
                {
                    @foreach (Result s in results)
                    {
                        @if (s.blazorIndex == index)
                        {
                            <option value="@s.blazorIndex" disabled>@s.Link</option>
                        }
                        else
                        {
                            <option value="@s.blazorIndex">@s.Link</option>
                        }
                    }
                }
                else
                {
                    <option disabled>Waiting for links...</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button @onclick="GetData" @onclick:preventDefault>Get data</button>
        </div>
    </div>
</div>
@code {
    [Parameter] public int index { get; set; } // index of the link
    public string message = "";
    List<string> strings = new List<string>();
    List<Result> results = new List<Result>();
    int noOfRows; // no of rows needed to dosplay all externl links
    public int secondLinkId;

    public bool loading = false;

    string oneContTwo = "";
    string twoContOne = "";

    TimeSelected _Date { get; set; } = new TimeSelected();

    protected async override Task OnInitializedAsync()
    {
        results = await Task.Run(() => ResultService.results);
    }

    public async Task GetData()
    {
        loading = true;
        var newTime = new DateTime(_Date.dateTime.Year, _Date.dateTime.Month, _Date.dateTime.Day, 0, 0, 0);
        await ResultService.GetLinksFromUrl(index, secondLinkId, newTime);
        strings = ResultService.resultsFromCraler;

        try
        {
            if (secondLinkId != -1 && strings.Count != 0)
            {
                twoContOne = strings.Last();
                strings.RemoveAt(strings.Count - 1);

                oneContTwo = strings.Last();
                strings.RemoveAt(strings.Count - 1);
                noOfRows = (int)Math.Ceiling((decimal)((strings.Count() * 1.0) / 4.0));

                for (int i = strings.Count(); i < noOfRows * 4; i++)
                {
                    strings.Add("");
                }
                strings.ToArray();
                loading = false;
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            message = "No external links found";
            loading = false;
        }
    }

    public class TimeSelected
    {
        public DateTime dateTime { get; set; } = DateTime.Now;
    }
}
<style>

    table {
        margin: auto;
        width: 50% !important;
    }

    td {
        max-width: 300px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    h3 {
        text-align: center
    }

    select {
        width: inherit;
        height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    option {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .centerTd {
        text-align: center;
    }

    .spinDiv {
        display: flex;
        justify-content: center;
    }

    span {
        display: flex;
        justify-content: center;
        font-size: medium;
    }

    button {
        background-color: #07428a;
        color: white;
    }
</style>