
@using TestBlazorhart.Data

@inject ResultService ResultService



<div class="container">
    <h3>TextComponent</h3>
    @if (!meaningfulText.Equals(""))
    {
        <div class="row">
            <div class="col-md-12 textBox">
                <p>@meaningfulText</p>
            </div>
        </div>
        @foreach (var t in texts)
        {
            <div class="row">
                <div class="col-md-6">
                    Number of @t.Keyword words in text: @t.KeywordsInText
                </div>
                <div class="col-md-6">
                    Number of @t.Keyword words in meta tags: @t.KeywordsInMetaTags
                </div>
            </div>
        }
    }


    <div class="row">
        <div class="col-md-12">
            <label>Select date: </label>
            <EditForm Model="@_Date">
                <InputDate @bind-Value="_Date.dateTime" class="form-control" />
            </EditForm>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button @onclick="GetData" @onclick:preventDefault>Get data</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public int index { get; set; } // index of the link
    public string meaningfulText = "";

    public List<MeaningfulText> texts = new List<MeaningfulText>();

    TimeSelected _Date { get; set; } = new TimeSelected();


    public async Task GetData()
    {
        var newTime = new DateTime(_Date.dateTime.Year, _Date.dateTime.Month, _Date.dateTime.Day, 0, 0, 0);

        await ResultService.GetMeaningfulText(index, newTime);
        meaningfulText = ResultService.unZippedText;
        texts = ResultService.meaningfulTexts;
    }

    public class TimeSelected
    {
        public DateTime dateTime { get; set; } = DateTime.Now;
    }
}

<style>
    p {
        width: inherit;
        max-height: 200px;
        overflow: auto;
    }

    div.text {
        border: solid;
        border-width: 1.5px;
        border-color: black;
    }

    .textBox {
        border: solid;
        border-width: 1px;
        border-color: darkgray;
    }
</style>